@font-face{
    font-family: 'W01';
    src: url('../fonts/站酷仓耳渔阳体-W01.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'W02';
    src: url('../fonts/站酷仓耳渔阳体-W01.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'W03';
    src: url('../fonts/站酷仓耳渔阳体-W03.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'W04';
    src: url('../fonts/站酷仓耳渔阳体-W04.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'W05';
    src: url('../fonts/站酷仓耳渔阳体-W05.ttf');
    font-weight: normal;
    font-style: normal;
}